.header{
	background: #bfefff;
}

.header a {
	display: block;
}

.slideshow button{
	font-size: 25px;
}

a{
	text-decoration: none;
	color: #000;
}

main .container-fluid {
	background: #F7F7F7;
}

footer .container-fluid{
	background: #4A4A4A
}

footer a, footer p, footer h2, footer h3{
	color: #F7F7F7;
}

footer li{
	list-style: none;
}